
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: rgb(243, 241, 239);
    color: black;
  }
  img {
    width: 100%;
  }
  header {
  height: 50px;
  background: #00c2ff;
  margin: 0 0 50px 0;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #00c2ff;
}
.search-box {
  display: flex;
  width: 70%;
  height: 50px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(106, 104, 104);
}
.tags {
  display: flex;
  justify-content: center;
  gap: 10px;
}
  .job-card {
    display: flex;
    gap: 10px;
    border: 2px solid rgb(240, 235, 235);
    border-radius: 10px;
    width: 70%;
    padding: 0 10px 0 10px;
    margin: 50px auto;
  }
  .company {
    display: flex;
    flex: 1 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .job-details {
    display: flex;
    flex: 5 120px;
    flex-direction: column;
    gap: 10px;
    padding: 0.25rem;
    width: 450px;
    text-align: left;
  }
  .title {
    color: #160691;
  }
  .logo {
    height: 5rem;
  }
  .description {
    text-align: justify;
  }
