@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  background: rgb(243, 241, 239);
  color: black;
}
img {
  width: 100%;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #00c2ff;
  margin: 0 0 50px 0;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  padding: 2rem;
}
.search-box {
  display: flex;
  width: 70%;
  height: 50px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(106, 104, 104);
}
.tags {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}
.tags > button {
  border-radius: 5px;
  padding: 5px;
}
.tags > button:hover {
  background-color: #00c2ff;
  color: white;
}
.job-card {
  background: #ffffff;
  display: flex;
  gap: 10px;
  border: 2px solid rgb(240, 235, 235);
  border-radius: 10px;
  width: 70%;
  padding: 0 10px 0 10px;
  margin: 50px auto;
}
.company {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex: 1 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.job-details {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex: 5 120px;
  flex-direction: column;
  gap: 10px;
  padding: 1.5rem;
  width: 450px;
  text-align: left;
}

.description {
  font-family: 'Lato', sans-serif;
}

.title {
  font-family: 'Lato', sans-serif;
  color: #160691;
}
.logo {
  height: 5rem;
  transition: transform 0.5s ease;
}
.logo:hover {
  transform: scale(1.1);
}
.company-name {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: transform 0.5s ease;
}
.company-name:hover {
  transform: scale(1.1);
}
.description {
  text-align: justify;
}
